body{
    margin: 0px;
    background-color: #F0F2F5;
    /* background-color: #1d2129; */
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s;
}
div{
    display: block;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.mode{
    position: fixed;
    top: 0;
    right: 0;
    background-color: #1d2129;
    margin: 5px;
    padding: 8px;
    border-radius: 100%;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.3s;
}
.mode:hover{
    padding: 9px;
}
h1{
    color: #1d2129;
}
.heading{
    font-size: 22px;
    text-align: center;
    padding: 10px;
    /* margin: 10px; */
    box-sizing: border-box;
}
.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
      typing 2s steps(20, end),
      blink-caret 1s step-end infinite,
      slidein 0.5s ease 3s forwards;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }
  @keyframes slidein {
    100% {
      border: transparent;
    }
  }

.sign_in{
    padding: 10px;
    margin: 100px 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    width: 400px;
    min-width: 200px;
}
.textbox{
    color: #1d2129;
    border: 1px solid #dddfe2;
    height: 22px;
    line-height: 16px;
    vertical-align: middle;
    border-radius: 6px;
    font-size: 17px;
    padding: 3% 5%;
    margin: 2%;
    width: 80%;
}
.log_in{
    background-color: #ffa600;
    color: #000000;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    margin: 2%;
    padding: 0;
    width: 90%;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    position: relative;
    transition: all 0.3s;
}
.log_in:hover{
    background-color: #dd9000;
}
.box_color_align{
    background-color: #FFFFFF;
    text-align: center;
}
a{
    color: #000000;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}
.forgotten:hover{
    text-decoration-line: underline;
}
.line{
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 5% 5%;
    text-align: center;
}
.sign_up{
    background-color: #1d2129;
    border: none;
    border-radius: 6px;
    line-height: 48px;
    display: inline-block;
    white-space: nowrap;
    padding: 1% 5%;
    margin: 1% 5%;
    font-size: 20px;
    color: #FFFFFF;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    transition: all 0.3s;
}
.sign_up:hover{
    background-color: #000000;
}
.sign_up_bg{
    background-color: rgba(255, 255, 255, .8);
    /* background-color: rgba(0, 0, 0, .8); */
    /* font-size: 10px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
    visibility: hidden;
    /* visibility: visible; */

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}
.sign_up_head{
    font-size: 20px;
    text-align: left;
    padding: 10px;

    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    /* margin-top: 0; */
    /* padding-top: 5px; */

    display: inline-block;
    /* margin: 0px 0px 0px 0px; */

    border-radius: 8px 8px 0 0;
    box-sizing: border-box;
    /* padding: 10px 16px; */
    position: relative;
    width: 30%;
    min-width: 300px;
    z-index: 1;
}
.sign_up_form{
    background: transparent;
    background-color: #FFFFFF;
    border-radius: 0 0 8px 8px;
    border-top: 1px solid #dadde1;
    box-sizing: border-box;
    margin: 0;
    padding: 16px;
    text-align: left;
    position: relative;
    width: 30%;
    min-width: 300px;

    /* border-radius: 8px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    z-index: 1;
}
.half{
    width: 32.5%;
}
.dob{
    font-size: 12px;
    color: #1d2129;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin: 0 0 0 5%;
}
.tndc{
    font-size: 8px;
    color: #1d2129;
    text-align: left;
    margin: 0 5% 0 5%;
    padding: 0;
}
.gender{
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0 2% 0 2%;
}
.cut{
    background-color: #c1c1c1;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    padding: 8px;
    border-radius: 100%;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
}